# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Ignore dataset files
data/raw/*.csv
data/processed/*.csv

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/README.md
!data/processed/README.md